<!DOCTYPE html>
<html lang="en">

<%- include('./layouts/header'); -%>

  <style>
    #holder {
      max-width: 350px;
      max-height: 350px;
      overflow: visible;      
    }

    #holder img {
      width: 100%;
      height: auto;
      object-fit: scale-down;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      transition: all 0.5s ease;
     }

    #holder img:hover {
      transform: scale(2,2);
    }
  </style>

  <body>

    <section>
      <%- include('./layouts/navbar'); -%>
    </section>

    <section id="images">
      <!--<div style="border-radius: 10%;" class="elfsight-app-550a1f27-8160-46fa-b254-1050f8b9f4eb" data-elfsight-app-lazy>
      </div> -->
      <div>
        <br><br>
        <h1 style="text-align: center;">2024 Images</h1>
        <br>
      </div>
      <br>
      <div class="container">
        <div class="row justify-content-center align-items-center">
          <% items.forEach((item)=> { %>
            <div class="col-xl-2 col-lg-3 col-md-3 col-sm-3 col-4 my-2 images">
              <a id="holder" href="/images/2024/<%= item %>"><img alt="<%= item%>" loading="lazy"
                  style="border-radius: 15px; border: solid rgb(40, 54, 13) 3px;" src="/images/2024/<%= item %>"
                  class="img-fluid clearfix justify-content-center align-items-center">
              </a>
            </div>
            <% })  %>
            
        </div>
      </div>
      </div>
    </section>



    <section>
      <div>
        <%- include('./layouts/footer'); -%>
      </div>
    </section>

    <section>
      <div>
        <%- include('./layouts/scripts'); -%>
      </div>
    </section>

    <!-- <script>
      $(document).on('click', '[data-toggle="lightbox"]', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
      });
    </script>-->

  </body>

</html>
