<!DOCTYPE html>
<html class="gradient-background" lang="en">

<%- include('./layouts/header'); -%>

  <body class="gradient-background">

    <section>
      <%- include('./layouts/navbar'); -%>
    </section>

    <section id="images">
      <!--<div style="border-radius: 10%;" class="elfsight-app-550a1f27-8160-46fa-b254-1050f8b9f4eb" data-elfsight-app-lazy>
      </div> -->
      <br>
      <div class="container">
        <div class="row">
          <% items.forEach((item)=> { %>
            <div class="col-md-8 mt-3 col-lg-3">
              <a href="/images/<%= item %>" data-toggle="lightbox" data-gallery="league" class="col-sm-4"><img
                  style="border-radius: 15px; border: solid rgb(40, 54, 13) 3px;" src="/images/<%= item %>"
                  class="img-fluid">
              </a>
            </div>
            <% }) %>
        </div>
      </div>
      </div>
    </section>



    <section>
      <div>
        <%- include('./layouts/footer'); -%>
      </div>
    </section>

    <section>
      <div>
        <%- include('./layouts/scripts'); -%>
      </div>
    </section>

    <script>
      $(document).on('click', '[data-toggle="lightbox"]', function (event) {
        event.preventDefault();
        $(this).ekkoLightbox();
      });
    </script>

  </body>

</html>