<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header') -%>

  <body>
    <%- include('layouts/navbar') -%>

    <header
      class="masthead"
      style="background-image: url('/img/newUserBackground.jpg')"
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="page-heading">
              <h1>Register New Account</h1>
              <span class="subheading">Have questions? I have answers.</span>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <% if(errors != null && errors.length > 0) { %>
              <ul class="list-group">
                <% for(var i = 0; i < errors.length; i++){ %>
                  <li class="list-group-item list-group-item-danger">
                    <%= errors[i] %>
                  </li> 
                <% } %>
              </ul>    
            <% } %>  
            <form action="/users/register" method="post" enctype="multipart/form-data">
              </div>
              <div class="form-group">
                <label> User Name </label>
                <div class="input-group">
                   <input type="text" class="form-control" placeholder="Username" id="username" name="username" value="<%= username %>"/>
                </div>
                <br>
              </div>             
              <div class="form-group">
                <label> First Name </label>
                <div class="input-group">
                   <input type="text" class="form-control" placeholder="First Name" id="first" name="first" value="<%= first %>"/>
                </div>
              <br>
              <div class="form-group">
                <label> Last Name </label>
                <div class="input-group">
                   <input type="text" class="form-control" placeholder="Last Name" id="last" name="last" value="<%= last %>"/>
                </div>
              <br>
              <div class="form-group">
                <label> e-Mail </label>
                <div class="input-group">
                   <input type="text" class="form-control" placeholder="test@abc.com" id="email" name="email" value="<%= email %>"/>
                </div>
              <br>
              <div class="form-group">
                <label> Phone Number </label>
                <div class="input-group">
                   <input type="text" class="form-control" placeholder="111-222-3333" id="phone" name="phone" value="<%= phone %>"/>
                </div>
              <br>
              <div class="form-group">
                <label> Password </label>
                <div class="input-group">
                   <input type="password" class="form-control" id="password" name="password" value="<%= password %>"/>
                </div>
              <br>
              <div class="form-group">
                <button type="submit" value="Publish" class="btn btn-primary">Register</button>
              </div>
               </div>

            </form>
          </div>
        </div>
      </div>
    </main>

    <%- include('layouts/footer') -%> 
    <%- include('layouts/scripts') -%>
  
</body>
</html>